@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    /*========== Colors ==========*/
    --title-color: #fff;
    --text-color: hsl(235, 20%, 57%);
    --shape-gradient: linear-gradient(90deg,
    hsl(300, 76%, 60%),
    hsl(57, 81%, 60%));
    --body-gradient: linear-gradient(180deg,
    hsl(22, 100%, 84%),
    hsl(265, 100%, 80%));
    --container-color: hsl(235, 32%, 10%);
    --body-font: "Nunito", sans-serif;
    --biggest-font-size: 1.85rem;
    --normal-font-size: 1.25rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.title {
    color: #7D8ABC;
    margin-bottom: 15px;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background: var(--body-gradient);
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.card {
    display: grid;
    place-items: center;
    padding-block: 4.5rem;
}
.card__container {
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.card__article {
    position: relative;
    background-color: #1F2544;
    padding: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 20px 24px hsla(235, 32%, 15%, 0.2);
    overflow: hidden;
}
.card__img {
    width: 400px;
    margin-bottom: 1rem;
    animation: float-img 2.5s ease-in-out infinite;
}
.card__title {
    color: var(--title-color);
    font-size: var(--biggest-font-size);
    line-height: 100%;
    margin-bottom: 1rem;
}
.card__description {
    font-size: var(--normal-font-size);
}
.card__temp {
    font-size: var(--normal-font-size);
}
.card__data {
    position: relative;
    z-index: 10;
}
.card__shapes {
    display: grid;
    justify-items: center;
    row-gap: 2.5rem;
    position: absolute;
    inset: 0;
    top: -3.5rem;
    z-index: 1;
}
.card__shape {
    display: block;
    width: 260px;
    height: 40px;
    background: var(--shape-gradient);
    border-radius: 4rem;
    transform: rotate(-24deg);
    opacity: 0;
}
@keyframes float-img {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.75rem);
    }
    100% {
        transform: translateY(0);
    }
}
.card__article:hover .card__shape {
    animation-name:  shape-animate;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}
@keyframes shape-animate {
    0% {
        opacity: 0;
    }
    20% {
        opacity: .1;
    }
    40% {
        opacity: .3;
    }
    60% {
        opacity: .7;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.card__shape:nth-child(1) {
    animation-delay: .1s;
}
.card__shape:nth-child(2) {
    animation-delay: .2s;
}
.card__shape:nth-child(3) {
    animation-delay: .3s;
}
.card__shape:nth-child(4) {
    animation-delay: .4s;
}
.card__shape:nth-child(5) {
    animation-delay: .5s;
}
.card__shape:nth-child(6) {
    animation-delay: .6s;
}
.card__shape:nth-child(7) {
    animation-delay: .7s;
}
.card__shape:nth-child(8) {
    animation-delay: .8s;
}

@media screen and (max-width: 340px) {
    .card__container {
        margin-inline: 1rem;
    }
    .card__article {
        padding: 1.5rem;
    }
    .card__img {
        width: 160px;
    }
    .card__title {
        font-size: 2rem;
    }
}
/* For medium devices */
@media screen and (min-width: 440px) {
    .card__container {
        grid-template-columns: 328px;
    }
}
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 328px);
        column-gap: 2rem;
    }
}
/* For large devices */
@media screen and (min-width: 1024px) {
    .card {
        height: 100vh;
    }
    .card__container {
        grid-template-columns: repeat(3, 328px);
        column-gap: 2rem;
    }
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    background-color: #c23ce0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
#userChoice {
    display: inline-grid;
}
.lds-heart {
    /* change color here */
    color: #ffffff
}
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
    box-sizing: border-box;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}
.lds-heart div {
    top: 28px;
    left: 28px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: currentColor;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: currentColor;
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}